{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2>{% trans "Contrasenya canviada" %}</h2>
          </div>
          <div class="card-body">
            <p>{% trans "La teva contrasenya s'ha canviat correctament. Ara pots iniciar sessió amb la nova contrasenya." %}</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">{% trans "Inicia la sessió" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
