{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2>{% trans "Instruccions enviades" %}</h2>
          </div>
          <div class="card-body">
            <p>{% trans "Hem enviat un correu electrònic amb instruccions per restablir la teva contrasenya. Si no el reps, comprova la teva carpeta de correu brossa." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
