{% load i18n %}
{% load product_tags %}

<div class="custom-title-card">
    <img src="{{ item.image_url }}" alt="Cover for {{ item.json_info|get_item:'human-title' }}" class="title-image">
    <div class="title-info">
        <h5>{{ item.json_info|get_item:'human-title' }}</h5>
        <p>{{ item.json_info.description }}</p>
        <div class="title-meta">
            <p><strong>{% trans "Languages" %}:</strong> {{ item.json_info.langs }}</p>
            <p><strong>{% trans "Level" %}:</strong> {{ item.json_info.levels }}</p>
            <p><strong>{% trans "Ages" %}:</strong> {{ item.json_info.ages }}</p>
            <p><strong>{% trans "Collection" %}:</strong> {{ item.json_info.colection }}</p>
            <p><strong>{% trans "Duration" %}:</strong> {{ item.json_info.duration }}</p>
        </div>
    </div>
     <div class="card-actions">
        {% if item.status == 'FREE' or item.status == 'PREMIUM_OWNED' %}
            <a href="{% url 'products:player' item.title.machine_name %}" class="action-btn play-btn" title="Play">▶️</a>
        {% endif %}
    </div>
</div>
