{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Compra realitzada" %}{% endblock %}

{% block content %}
<section class="container">
    <h1>{% trans "Gràcies per la teva compra!" %}</h1>
    {% if product %}
        <p>{% blocktrans %}Has comprat el producte: <strong>{{ product.get_translation_name }}</strong>.{% endblocktrans %}</p>
        <p><a href="{% url 'accounts:purchase_history' %}" class="button">{% trans "Veure els meus productes" %}</a></p>
    {% else %}
        <p>{% trans "No s'ha pogut verificar la teva compra." %}</p>
    {% endif %}
</section>
{% endblock %}
