/* Dark theme for CKEditor 5 */
.ck-editor__editable,
.ck-editor__editable_inline {
    background: #000 !important;
    color: #f1f1f1 !important;
}

.ck.ck-toolbar {
    background: #222 !important;
    border-color: #444 !important;
}

.ck.ck-button,
.ck.ck-button:hover,
.ck.ck-button:focus,
.ck.ck-button:active,
.ck.ck-button.ck-on,
.ck.ck-dropdown__button {
    background: #333 !important;
    color: #f1f1f1 !important;
    border-color: #555 !important;
}

.ck.ck-button:hover,
.ck.ck-button:focus,
.ck.ck-button:active,
.ck.ck-dropdown__button:hover {
    background: #444 !important;
}

.ck.ck-button.ck-on {
    background: #555 !important;
}

.ck.ck-dropdown__panel {
    background: #222 !important;
    border-color: #444 !important;
}

.ck.ck-list__item a {
    background: #333 !important;
    color: #f1f1f1 !important;
}

.ck.ck-list__item a:hover {
    background: #444 !important;
}

.ck.ck-input {
    background-color: #333 !important;
    color: #f1f1f1 !important;
    border-color: #555 !important;
}
