.scrollable-div {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#buy-button {
    display: block;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
}
