{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/catalog_filters.css' %}">
{% endblock %}

{% block content %}
<main>
  <h3 data-translate-key="catalog.what_is_dual">ℹ️ Què és Audiovook Dual?</h3>
  <p data-translate-key="catalog.what_is_dual_text">
    Audiovook Dual és una col·lecció d’audiorelats bilingües que et permet escoltar una mateixa història en dues llengües. És una forma d’aprendre jugant amb el so, la repetició i el context.
  </p>
  <h2 style="text-align:center" data-translate-key="catalog.available_stories">📚 Relats disponibles</h2>

  <!-- Botons de nivell -->
  <h3 style="text-align:center">Selecciona nivell:</h3>
  <section id="levelSection"></section>

  <!-- Botó per mostrar/ocultar filtres -->
  <div id="advancedSearchToggle">
    <button id="toggleFiltersBtn">🔍 Cerca avançada</button>
  </div>

  <!-- Barra de filtres (oculta per defecte) -->
  <section id="filtersBar" style="display:none;">
    <div class="av-input">
      <input type="text" id="searchInput" placeholder="🔍 Cerca per text o títol..." />
    </div>
    <div class="av-select" data-placeholder="Col·lecció">
      <label>Col·lecció</label>
      <select id="filterColection"></select>
    </div>
    <div class="av-select" data-placeholder="Durada">
      <label>Durada</label>
      <select id="filterDuration"></select>
    </div>
    <div class="av-select" data-placeholder="Llengües">
      <label>Llengües</label>
      <select id="filterLang"></select>
    </div>
    <div class="av-select" data-placeholder="Edats">
      <label>Edats</label>
      <select id="filterAges"></select>
    </div>
  </section>

  <!-- Missatge inicial -->
  <div id="helpNote">
    <h3 style="text-align:center" data-translate-key="catalog.dual_in_3_clicks">Dual en 3 clics:</h3>
    <p>1️⃣ <span data-translate-key="catalog.click1">Selecciona quin tipus de textos vols</span><br>
      2️⃣ <span data-translate-key="catalog.click2">Tria un relat</span><br>
      3️⃣ <span data-translate-key="catalog.click3">Aniràs al reproductor i podràs experimentar el sistema Dual</span></p>
  </div>

  <section id="catalog"></section>
  <div id="helpIcon">❔</div>
</main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/catalog_filters.js' %}"></script>
{% endblock %}
